<div id="body" class="welcome">
  <span id="splash-overlay" class="splash"></span>
  <span id="welcome" class="z-depth-4"></span>

  <header class="navbar-fixed">
    <div class="position-relative text-center bg-light">
      <div class="col-md-3 p-lg-3 mx-auto my-3">
        <h2 class="display-5">Grupo Pana</h2>
      </div>
    </div>
  </header>

  <main class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="alert alert-success" role="alert">
            <a data-toggle="collapse" href="#collapseHorizontes" role="button" aria-expanded="false"
              aria-controls="collapseHorizontes">
              <h3>Horizontes de Innovación</h3>
            </a>
          </div>
          <div class="collapse show" id="collapseHorizontes">
            <div class="card card-body">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="alert alert-light" role="alert">
                  <h4>Vista Sector(Industria)</h4>
                </div>
                <div class="row animate__animated animate__bounce animate__delay-3s">
                  <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                    <div class="container">
                      <div class="row borde-base">
                        <div
                          class="col-lg-1 col-md-1 col-sm-12 col-xs-12 d-flex align-items-center justify-content-center">
                          <h3><span class="badge badge-secondary">H1</span></h3>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                          <div class="row horizonte">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                              <p class="progress_title text-right">1. Excelencia operativa</p>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                              <div class="progress progress-margin-3">
                                <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90"
                                  aria-valuemin="0" aria-valuemax="100">90%</div>
                              </div>
                              <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 45%"
                                  aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
                              </div>
                            </div>
                          </div>
                          <div class="row horizonte">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                              <p class="progress_title text-right">2. Cliente</p>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                              <div class="progress progress-margin-3">
                                <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95"
                                  aria-valuemin="0" aria-valuemax="100">95%</div>
                              </div>
                              <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 45%"
                                  aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
                              </div>
                            </div>
                          </div>
                          <div class="row horizonte">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                              <p class="progress_title text-right">3. Posicionamiento en el mercado</p>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                              <div class="progress progress-margin-3">
                                <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90"
                                  aria-valuemin="0" aria-valuemax="100">90%</div>
                              </div>
                              <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 45%"
                                  aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div
                          class="col-lg-1 col-md-1 col-sm-12 col-xs-12 d-flex align-items-center justify-content-center">
                          <div class="row">
                            <div class="col-lg-12 col-md-4 col-sm-4 col-xs-4 col-4 text-center">
                              <span class="badge badge-primary text-center" placement="top" ngbTooltip="Grupo Pana">
                                91.6%
                              </span>
                            </div>
                            <div class="col-lg-12 col-md-3 col-sm-4 col-xs-4 col-4 text-center">
                              <span class="badge badge-default text-center">

                              </span>
                            </div>
                            <div class="col-lg-12 col-md-4 col-sm-4 col-xs-4 col-4 text-center" placement="top"
                              ngbTooltip="País">
                              <span class="badge badge-warning text-center">
                                45%
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row borde-base">
                        <div class="col-md-1 d-flex align-items-center justify-content-center">
                          <h3><span class="badge badge-secondary">H2</span></h3>
                        </div>
                        <div class="col-md-10">
                          <div class="row horizonte">
                            <div class="col-md-4">
                              <p class="progress_title text-right">1. Excelencia operativa</p>
                            </div>
                            <div class="col-md-8">
                              <div class="progress progress-margin-3">
                                <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90"
                                  aria-valuemin="0" aria-valuemax="100">90%</div>
                              </div>
                              <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 45%"
                                  aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
                              </div>
                            </div>
                          </div>
                          <div class="row horizonte">
                            <div class="col-md-4">
                              <p class="progress_title text-right">2. Cliente</p>
                            </div>
                            <div class="col-md-8">
                              <div class="progress progress-margin-3">
                                <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95"
                                  aria-valuemin="0" aria-valuemax="100">95%</div>
                              </div>
                              <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 45%"
                                  aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
                              </div>
                            </div>
                          </div>
                          <div class="row horizonte">
                            <div class="col-md-4">
                              <p class="progress_title text-right">3. Posicionamiento en el mercado</p>
                            </div>
                            <div class="col-md-8">
                              <div class="progress progress-margin-3">
                                <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90"
                                  aria-valuemin="0" aria-valuemax="100">90%</div>
                              </div>
                              <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 45%"
                                  aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div
                          class="col-lg-1 col-md-1 col-sm-12 col-xs-12 d-flex align-items-center justify-content-center">
                          <div class="row">
                            <div class="col-lg-12 col-md-4 col-sm-4 col-xs-4 col-4 text-center">
                              <span class="badge badge-primary text-center" placement="top" ngbTooltip="Grupo Pana">
                                91.6%
                              </span>
                            </div>
                            <div class="col-lg-12 col-md-3 col-sm-4 col-xs-4 col-4 text-center">
                              <span class="badge badge-default text-center">

                              </span>
                            </div>
                            <div class="col-lg-12 col-md-4 col-sm-4 col-xs-4 col-4 text-center" placement="top"
                              ngbTooltip="País">
                              <span class="badge badge-warning text-center">
                                45%
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row borde-base">
                        <div class="col-md-1 d-flex align-items-center justify-content-center">
                          <h3><span class="badge badge-secondary">H3</span></h3>
                        </div>
                        <div class="col-md-10">
                          <div class="row horizonte">
                            <div class="col-md-4">
                              <p class="progress_title text-right">1. Excelencia operativa</p>
                            </div>
                            <div class="col-md-8">
                              <div class="progress progress-margin-3">
                                <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90"
                                  aria-valuemin="0" aria-valuemax="100">90%</div>
                              </div>
                              <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 45%"
                                  aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
                              </div>
                            </div>
                          </div>
                          <div class="row horizonte">
                            <div class="col-md-4">
                              <p class="progress_title text-right">2. Cliente</p>
                            </div>
                            <div class="col-md-8">
                              <div class="progress progress-margin-3">
                                <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95"
                                  aria-valuemin="0" aria-valuemax="100">95%</div>
                              </div>
                              <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 45%"
                                  aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
                              </div>
                            </div>
                          </div>
                          <div class="row horizonte">
                            <div class="col-md-4">
                              <p class="progress_title text-right">3. Posicionamiento en el mercado</p>
                            </div>
                            <div class="col-md-8">
                              <div class="progress progress-margin-3">
                                <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90"
                                  aria-valuemin="0" aria-valuemax="100">90%</div>
                              </div>
                              <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 45%"
                                  aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div
                          class="col-lg-1 col-md-1 col-sm-12 col-xs-12 d-flex align-items-center justify-content-center">
                          <div class="row">
                            <div class="col-lg-12 col-md-4 col-sm-4 col-xs-4 col-4 text-center">
                              <span class="badge badge-primary text-center" placement="top" ngbTooltip="Grupo Pana">
                                91.6%
                              </span>
                            </div>
                            <div class="col-lg-12 col-md-3 col-sm-4 col-xs-4 col-4 text-center">
                              <span class="badge badge-default text-center">

                              </span>
                            </div>
                            <div class="col-lg-12 col-md-4 col-sm-4 col-xs-4 col-4 text-center" placement="top"
                              ngbTooltip="País">
                              <span class="badge badge-warning text-center">
                                45%
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="container">
                      <div class="card">
                        <button *ngIf="!user.id" type="button" class="btn btn-primary" placement="top"
                          ngbTooltip="Para comentar inicia sesión con tu cuenta de Google" (click)="signInWithGoogle()">
                          Google</button>
                        <div class="card-header">
                          <h4 class="title">Comentarios</h4>
                        </div>
                        <div class="card-body scroll">
                          <div class="row" *ngIf="user.id">
                            <div class="col-lg-3 col-md-2 col-sm-2 col-xs-2 col-3">
                              <img *ngIf="user.photoUrl" src="{{ user.photoUrl }}" alt="..."
                                class="img rounded-circle img-fluid" />
                              <p class="text-secondary text-center">{{ user.name }}</p>
                            </div>
                            <div class="col-lg-9 col-md-10 col-sm-10 col-xs-10 col-9">
                              <form>
                                <div class="form-group">
                                  <textarea class="form-control" rows="4"></textarea>
                                </div>
                                <div class="form-group">
                                  <button type="button" class="btn btn-success btn-block">Comentar</button>
                                </div>
                              </form>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-3 col-md-2 col-sm-2 col-xs-2 col-3">
                              <img src="assets/images/def_face.jpg" class="img rounded-circle img-fluid" /><br>
                              <p class="text-secondary text-center">xxxx</p>
                            </div>
                            <div class="col-lg-9 col-md-10 col-sm-10 col-xs-10 col-9">
                              <p>
                                <a class="float-left"
                                  href="https://github.com/CayetanoHerreraLuisRicardo?tab=repositories"><strong>Ricardo
                                    Cayetano</strong></a>

                              </p>
                              <div class="clearfix"></div>
                              <p>Lorem Ipsum is simply dummy text of the pr make but also the leap into electronic
                                typesetting,
                                remaining essentially unchanged. </p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-3 col-md-2 col-sm-2 col-xs-2 col-3">
                              <img src="assets/images/def_face.jpg" class="img img-rounded img-fluid" />
                              <p class="text-secondary text-center">Hace 2 dias</p>
                            </div>
                            <div class="col-lg-9 col-md-10 col-sm-10 col-xs-10 col-9">
                              <p>
                                <a class="float-left"
                                  href="https://github.com/CayetanoHerreraLuisRicardo?tab=repositories"><strong>Lionel</strong></a>

                              </p>
                              <div class="clearfix"></div>
                              <p>Lorem Ipsum is simply dummy text of the pr make but also the leap into electronic
                                typesetting,
                                remaining essentially unchanged. </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="alert alert-light" role="alert">
                  <h4>Vista País</h4>
                </div>
                <div class="row animate__animated animate__bounce animate__delay-3s">
                  <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                    <div class="container">
                      <div class="row borde-base">
                        <div class="col-md-1 d-flex align-items-center justify-content-center">
                          <h3><span class="badge badge-secondary">H1</span></h3>
                        </div>
                        <div class="col-md-10">
                          <div class="row horizonte">
                            <div class="col-md-4">
                              <p class="progress_title text-right">1. Excelencia operativa</p>
                            </div>
                            <div class="col-md-8">
                              <div class="progress progress-margin-3">
                                <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90"
                                  aria-valuemin="0" aria-valuemax="100">90%</div>
                              </div>
                              <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 45%"
                                  aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
                              </div>
                            </div>
                          </div>
                          <div class="row horizonte">
                            <div class="col-md-4">
                              <p class="progress_title text-right">2. Cliente</p>
                            </div>
                            <div class="col-md-8">
                              <div class="progress progress-margin-3">
                                <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95"
                                  aria-valuemin="0" aria-valuemax="100">95%</div>
                              </div>
                              <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 45%"
                                  aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
                              </div>
                            </div>
                          </div>
                          <div class="row horizonte">
                            <div class="col-md-4">
                              <p class="progress_title text-right">3. Posicionamiento en el mercado</p>
                            </div>
                            <div class="col-md-8">
                              <div class="progress progress-margin-3">
                                <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90"
                                  aria-valuemin="0" aria-valuemax="100">90%</div>
                              </div>
                              <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 45%"
                                  aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div
                          class="col-lg-1 col-md-1 col-sm-12 col-xs-12 d-flex align-items-center justify-content-center">
                          <div class="row">
                            <div class="col-lg-12 col-md-4 col-sm-4 col-xs-4 col-4 text-center">
                              <span class="badge badge-primary text-center" placement="top" ngbTooltip="Grupo Pana">
                                91.6%
                              </span>
                            </div>
                            <div class="col-lg-12 col-md-3 col-sm-4 col-xs-4 col-4 text-center">
                              <span class="badge badge-default text-center">

                              </span>
                            </div>
                            <div class="col-lg-12 col-md-4 col-sm-4 col-xs-4 col-4 text-center" placement="top"
                              ngbTooltip="País">
                              <span class="badge badge-warning text-center">
                                45%
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row borde-base">
                        <div class="col-md-1 d-flex align-items-center justify-content-center">
                          <h3><span class="badge badge-secondary">H2</span></h3>
                        </div>
                        <div class="col-md-10">
                          <div class="row horizonte">
                            <div class="col-md-4">
                              <p class="progress_title text-right">1. Excelencia operativa</p>
                            </div>
                            <div class="col-md-8">
                              <div class="progress progress-margin-3">
                                <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90"
                                  aria-valuemin="0" aria-valuemax="100">90%</div>
                              </div>
                              <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 45%"
                                  aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
                              </div>
                            </div>
                          </div>
                          <div class="row horizonte">
                            <div class="col-md-4">
                              <p class="progress_title text-right">2. Cliente</p>
                            </div>
                            <div class="col-md-8">
                              <div class="progress progress-margin-3">
                                <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95"
                                  aria-valuemin="0" aria-valuemax="100">95%</div>
                              </div>
                              <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 45%"
                                  aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
                              </div>
                            </div>
                          </div>
                          <div class="row horizonte">
                            <div class="col-md-4">
                              <p class="progress_title text-right">3. Posicionamiento en el mercado</p>
                            </div>
                            <div class="col-md-8">
                              <div class="progress progress-margin-3">
                                <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90"
                                  aria-valuemin="0" aria-valuemax="100">90%</div>
                              </div>
                              <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 45%"
                                  aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div
                          class="col-lg-1 col-md-1 col-sm-12 col-xs-12 d-flex align-items-center justify-content-center">
                          <div class="row">
                            <div class="col-lg-12 col-md-4 col-sm-4 col-xs-4 col-4 text-center">
                              <span class="badge badge-primary text-center" placement="top" ngbTooltip="Grupo Pana">
                                91.6%
                              </span>
                            </div>
                            <div class="col-lg-12 col-md-3 col-sm-4 col-xs-4 col-4 text-center">
                              <span class="badge badge-default text-center">

                              </span>
                            </div>
                            <div class="col-lg-12 col-md-4 col-sm-4 col-xs-4 col-4 text-center" placement="top"
                              ngbTooltip="País">
                              <span class="badge badge-warning text-center">
                                45%
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row borde-base">
                        <div class="col-md-1 d-flex align-items-center justify-content-center">
                          <h3><span class="badge badge-secondary">H3</span></h3>
                        </div>
                        <div class="col-md-10">
                          <div class="row horizonte">
                            <div class="col-md-4">
                              <p class="progress_title text-right">1. Excelencia operativa</p>
                            </div>
                            <div class="col-md-8">
                              <div class="progress progress-margin-3">
                                <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90"
                                  aria-valuemin="0" aria-valuemax="100">90%</div>
                              </div>
                              <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 45%"
                                  aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
                              </div>
                            </div>
                          </div>
                          <div class="row horizonte">
                            <div class="col-md-4">
                              <p class="progress_title text-right">2. Cliente</p>
                            </div>
                            <div class="col-md-8">
                              <div class="progress progress-margin-3">
                                <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95"
                                  aria-valuemin="0" aria-valuemax="100">95%</div>
                              </div>
                              <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 45%"
                                  aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
                              </div>
                            </div>
                          </div>
                          <div class="row horizonte">
                            <div class="col-md-4">
                              <p class="progress_title text-right">3. Posicionamiento en el mercado</p>
                            </div>
                            <div class="col-md-8">
                              <div class="progress progress-margin-3">
                                <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90"
                                  aria-valuemin="0" aria-valuemax="100">90%</div>
                              </div>
                              <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 45%"
                                  aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div
                          class="col-lg-1 col-md-1 col-sm-12 col-xs-12 d-flex align-items-center justify-content-center">
                          <div class="row">
                            <div class="col-lg-12 col-md-4 col-sm-4 col-xs-4 col-4 text-center">
                              <span class="badge badge-primary text-center" placement="top" ngbTooltip="Grupo Pana">
                                91.6%
                              </span>
                            </div>
                            <div class="col-lg-12 col-md-3 col-sm-4 col-xs-4 col-4 text-center">
                              <span class="badge badge-default text-center">

                              </span>
                            </div>
                            <div class="col-lg-12 col-md-4 col-sm-4 col-xs-4 col-4 text-center" placement="top"
                              ngbTooltip="País">
                              <span class="badge badge-warning text-center">
                                45%
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="container">
                      <div class="card">
                        <button *ngIf="!user.id" type="button" class="btn btn-primary" placement="top"
                          ngbTooltip="Para comentar inicia sesión con tu cuenta de Google" (click)="signInWithGoogle()">
                          Google</button>
                        <div class="card-header">
                          <h4 class="title">Comentarios</h4>
                        </div>
                        <div class="card-body scroll">
                          <div class="row" *ngIf="user.id">
                            <div class="col-lg-3 col-md-2 col-sm-2 col-xs-2 col-3">
                              <img *ngIf="user.photoUrl" src="{{ user.photoUrl }}" alt="..."
                                class="img rounded-circle img-fluid" />
                              <p class="text-secondary text-center">{{ user.name }}</p>
                            </div>
                            <div class="col-lg-9 col-md-10 col-sm-10 col-xs-10 col-9">
                              <form>
                                <div class="form-group">
                                  <textarea class="form-control" rows="4"></textarea>
                                </div>
                                <div class="form-group">
                                  <button type="button" class="btn btn-success btn-block">Comentar</button>
                                </div>
                              </form>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-3 col-md-2 col-sm-2 col-xs-2 col-3">
                              <img src="assets/images/def_face.jpg" class="img rounded-circle img-fluid" /><br>
                              <p class="text-secondary text-center">xxxx</p>
                            </div>
                            <div class="col-lg-9 col-md-10 col-sm-10 col-xs-10 col-9">
                              <p>
                                <a class="float-left"
                                  href="https://github.com/CayetanoHerreraLuisRicardo?tab=repositories"><strong>Ricardo
                                    Cayetano</strong></a>

                              </p>
                              <div class="clearfix"></div>
                              <p>Lorem Ipsum is simply dummy text of the pr make but also the leap into electronic
                                typesetting,
                                remaining essentially unchanged. </p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-3 col-md-2 col-sm-2 col-xs-2 col-3">
                              <img src="assets/images/def_face.jpg" class="img img-rounded img-fluid" />
                              <p class="text-secondary text-center">Hace 2 dias</p>
                            </div>
                            <div class="col-lg-9 col-md-10 col-sm-10 col-xs-10 col-9">
                              <p>
                                <a class="float-left"
                                  href="https://github.com/CayetanoHerreraLuisRicardo?tab=repositories"><strong>Lionel</strong></a>

                              </p>
                              <div class="clearfix"></div>
                              <p>Lorem Ipsum is simply dummy text of the pr make but also the leap into electronic
                                typesetting,
                                remaining essentially unchanged. </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 espacio">
          <div class="alert alert-info" role="alert">
            <a data-toggle="collapse" href="#collapseAspectos" role="button" aria-expanded="false"
              aria-controls="collapseAspectos">
              <h3>Aspectos de Innovación</h3>
            </a>
          </div>
          <div class="collapse show" id="collapseAspectos">
            <div class="card card-body">
              <div class="col-md-12">
                <div class="alert alert-light" role="alert">
                  <h4>Vista Sector(Industria)</h4>
                </div>
                <div class="row animate__animated animate__bounce animate__delay-3s">
                  <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12" *ngIf="getHeight() === ''">
                    <canvas baseChart [datasets]="barChartDataSector" [labels]="barChartLabels"
                      [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend"
                      [chartType]="barChartType">
                    </canvas>
                  </div>
                  <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12" *ngIf="getHeight() !== ''">
                    <canvas baseChart [datasets]="barChartDataSector" [labels]="barChartLabels"
                      [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend"
                      [chartType]="barChartType" height="{{getHeight(false)}}">
                    </canvas>
                  </div>
                  <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="container">

                      <div class="card">
                        <button *ngIf="!user.id" type="button" class="btn btn-primary" placement="top"
                          ngbTooltip="Para comentar inicia sesión con tu cuenta de Google" (click)="signInWithGoogle()">
                          Google</button>
                        <div class="card-header">
                          <h4 class="title">Comentarios</h4>
                        </div>
                        <div class="card-body scroll">
                          <div class="row" *ngIf="user.id">
                            <div class="col-lg-3 col-md-2 col-sm-2 col-xs-2 col-3">
                              <img *ngIf="user.photoUrl" src="{{ user.photoUrl }}" alt="..."
                                class="img rounded-circle img-fluid" />
                              <p class="text-secondary text-center">{{ user.name }}</p>
                            </div>
                            <div class="col-lg-9 col-md-10 col-sm-10 col-xs-10 col-9">
                              <form>
                                <div class="form-group">
                                  <textarea class="form-control" rows="4"></textarea>
                                </div>
                                <div class="form-group">
                                  <button type="button" class="btn btn-success btn-block">Comentar</button>
                                </div>
                              </form>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-3 col-md-2 col-sm-2 col-xs-2 col-3">
                              <img src="assets/images/def_face.jpg" class="img rounded-circle img-fluid" /><br>
                              <p class="text-secondary text-center">xxxx</p>
                            </div>
                            <div class="col-lg-9 col-md-10 col-sm-10 col-xs-10 col-9">
                              <p>
                                <a class="float-left"
                                  href="https://github.com/CayetanoHerreraLuisRicardo?tab=repositories"><strong>Ricardo
                                    Cayetano</strong></a>

                              </p>
                              <div class="clearfix"></div>
                              <p>Lorem Ipsum is simply dummy text of the pr make but also the leap into electronic
                                typesetting,
                                remaining essentially unchanged. </p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-3 col-md-2 col-sm-2 col-xs-2 col-3">
                              <img src="assets/images/def_face.jpg" class="img img-rounded img-fluid" />
                              <p class="text-secondary text-center">Hace 2 dias</p>
                            </div>
                            <div class="col-lg-9 col-md-10 col-sm-10 col-xs-10 col-9">
                              <p>
                                <a class="float-left"
                                  href="https://github.com/CayetanoHerreraLuisRicardo?tab=repositories"><strong>Lionel</strong></a>

                              </p>
                              <div class="clearfix"></div>
                              <p>Lorem Ipsum is simply dummy text of the pr make but also the leap into electronic
                                typesetting,
                                remaining essentially unchanged. </p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-3 col-md-2 col-sm-2 col-xs-2 col-3">
                              <img src="assets/images/def_face.jpg" class="img img-rounded img-fluid" />
                              <p class="text-secondary text-center">Hace 2 dias</p>
                            </div>
                            <div class="col-lg-9 col-md-10 col-sm-10 col-xs-10 col-9">
                              <p>
                                <a class="float-left"
                                  href="https://github.com/CayetanoHerreraLuisRicardo?tab=repositories"><strong>Lionel</strong></a>

                              </p>
                              <div class="clearfix"></div>
                              <p>Lorem Ipsum is simply dummy text of the pr make but also the leap into electronic
                                typesetting,
                                remaining essentially unchanged. </p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-3 col-md-2 col-sm-2 col-xs-2  col-3">
                              <img src="assets/images/def_face.jpg" class="img img-rounded img-fluid" />
                              <p class="text-secondary text-center">Hace 2 dias</p>
                            </div>
                            <div class="col-lg-9 col-md-10 col-sm-10 col-xs-10 col-9">
                              <p>
                                <a class="float-left"
                                  href="https://github.com/CayetanoHerreraLuisRicardo?tab=repositories"><strong>Lionel</strong></a>

                              </p>
                              <div class="clearfix"></div>
                              <p>Lorem Ipsum is simply dummy text of the pr make but also the leap into electronic
                                typesetting,
                                remaining essentially unchanged. </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="alert alert-light" role="alert">
                  <h4>Vista País</h4>
                </div>
                <div class="row animate__animated animate__bounce animate__delay-3s">
                  <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12" *ngIf="getHeight() === ''">
                    <canvas baseChart [datasets]="barChartDataPais" [labels]="barChartLabels"
                      [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend"
                      [chartType]="barChartType">
                    </canvas>
                  </div>
                  <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12" *ngIf="getHeight() !== ''">
                    <canvas baseChart [datasets]="barChartDataPais" [labels]="barChartLabels"
                      [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend"
                      [chartType]="barChartType" height="{{getHeight(false)}}">
                    </canvas>
                  </div>
                  <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="container">
                      <div class="card">
                        <button *ngIf="!user.id" type="button" class="btn btn-primary" placement="top"
                          ngbTooltip="Para comentar inicia sesión con tu cuenta de Google" (click)="signInWithGoogle()">
                          Google</button>
                        <div class="card-header">
                          <h4 class="title">Comentarios</h4>
                        </div>
                        <div class="card-body scroll">
                          <div class="row" *ngIf="user.id">
                            <div class="col-lg-3 col-md-2 col-sm-2 col-xs-2">
                              <img *ngIf="user.photoUrl" src="{{ user.photoUrl }}" alt="..."
                                class="img rounded-circle img-fluid" />
                              <p class="text-secondary text-center">{{ user.name }}</p>
                            </div>
                            <div class="col-lg-9 col-md-10 col-sm-10 col-xs-10">
                              <form>
                                <div class="form-group">
                                  <textarea class="form-control" rows="4"></textarea>
                                </div>
                                <div class="form-group">
                                  <button type="button" class="btn btn-success btn-block">Comentar</button>
                                </div>
                              </form>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-3 col-md-2 col-sm-2 col-xs-2 col-3">
                              <img src="assets/images/def_face.jpg" class="img rounded-circle img-fluid" /><br>
                              <p class="text-secondary text-center">xxxx</p>
                            </div>
                            <div class="col-lg-9 col-md-10 col-sm-10 col-xs-10 col-9">
                              <p>
                                <a class="float-left"
                                  href="https://github.com/CayetanoHerreraLuisRicardo?tab=repositories"><strong>Ricardo
                                    Cayetano</strong></a>

                              </p>
                              <div class="clearfix"></div>
                              <p>Lorem Ipsum is simply dummy text of the pr make but also the leap into electronic
                                typesetting,
                                remaining essentially unchanged. </p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-3 col-md-2 col-sm-2 col-xs-2 col-3">
                              <img src="assets/images/def_face.jpg" class="img img-rounded img-fluid" />
                              <p class="text-secondary text-center">Hace 2 dias</p>
                            </div>
                            <div class="col-lg-9 col-md-10 col-sm-10 col-xs-10 col-9">
                              <p>
                                <a class="float-left"
                                  href="https://github.com/CayetanoHerreraLuisRicardo?tab=repositories"><strong>Lionel</strong></a>

                              </p>
                              <div class="clearfix"></div>
                              <p>Lorem Ipsum is simply dummy text of the pr make but also the leap into electronic
                                typesetting,
                                remaining essentially unchanged. </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>